<div class="roommates-container">
  <div
    class="roommate"
    [ngStyle]="{ margin: roommateWidth + '%' }"
    *ngFor="let roommate of roommateList"
  >
    <div
      class="profile-wrapper"
      matRipple
      [matRippleColor]="'rgba(255,255,255,0.35)'"
      [matRippleCentered]="'true'"
    >
      <img
        class="profile-photo"
        [ngClass]="{ greyscale: !isIncludedInOrder(roommate) }"
        [src]="roommate.imageUrl"
        (click)="toggleIncludeInOrder(roommate)"
      />
    </div>
    <h3 class="roommate-name">{{ roommate.firstName + " " + roommate.lastName }}</h3>
    <div *ngIf="isIncludedInOrder(roommate)" class="order-menu">
        <app-menu [roommate]="roommate"></app-menu>
    </div>
  </div>
</div>
