.homepage-container {
    background-image: url("../../../assets/pizza-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.background-content {
    padding-top: 15%;
}

.welcome-title {
    color: white;
    text-shadow: 0px 0px 20px #000;
    font-size: 90px;
    margin: 0px;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button {
    color: royalblue;
    position: relative;
    height: 50px;
    font-size: 28px;
    margin: 35px;
    box-shadow: 0px 0px 20px #000;
}
