.roommates-container {
    display: flex;
    padding: 50px;
}

.profile-wrapper {
    border-radius: 50%;
}

.profile-photo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.roommate-name {
    text-align: center;
}

.greyscale {
    filter: grayscale(100%);
}