<div class="roommates-container">
  <div
    class="roommate"
    [ngStyle]="{ margin: roommateWidth + '%' }"
    *ngFor="let roommate of roommateList"
  >
    <div
      class="profile-wrapper"
      matRipple
      [matRippleColor]="'rgba(255,255,255,0.5)'"
      [matRippleCentered]="'true'"
    >
      <img
        class="profile-photo"
        [ngClass]="{ greyscale: !isIncludedInOrder(roommate) }"
        [src]="roommate.imageUrl"
        (click)="toggleIncludeInOrder(roommate)"
      />
    </div>
    <h3>{{ roommate.firstName + " " + roommate.lastName }}</h3>
  </div>
</div>
